html {
  scroll-behavior: smooth;
}

:root {
  --mainColor: #ffffff;
  --secondaryColor: #ffffff;
  --ascentColor: #4b4b4b;
}

body {
  background-color: var(--mainColor);
  font-family: "Poppins", sans-serif;
}

footer a {
  text-decoration: none;
}

/* Navbar */

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* JUMBOTRON */
.jumbotron {
  min-height: 100vh;
  width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 120px;
  flex-direction: row;
}

.jumbotron__content-left {
  display: flex;
  align-items: start;
  align-self: start;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.jumbotron__content-right {
  display: flex;
  align-items: end;
  align-self: end;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.img-profil {
  width: 320px;
  height: 320px;
}

/* project */
.project {
  min-height: 100vh;
  width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 120px;
  flex-direction: row;
}

.project__content-left {
  display: flex;
  align-items: start;
  align-self: start;
  align-content: center;
  flex-direction: column;
  width: 80%;
}

.project__content-right {
  display: flex;
  align-items: start;
  align-self: start;
  align-content: center;
  flex-direction: column;
  width: 110%;
}

.img-project {
  width: 160px;
  height: 160px;
}

.project__list {
  margin-left: 16px;
}

.box__project {
  display: flex;
  flex-direction: row;
  align-items: start;
  align-self: center;
  margin-top: 10px;
  padding: 30px;
  transition: 0.8s;
  border-radius: 5px;
}

.box__project:hover {
  background-color: #efefef;
  transition: 0.8s;
  border-radius: 5px;
  cursor: default;
}

.project__text-app {
  font-size: 14px;
  color: #757575;
}

/* JUMBOTRON TEXT */
.jumbotron__text-name {
  font-size: 40px;
  font-weight: 500;
  margin-top: 16px;
}

.jumbotron__text-jobtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.jumbotron__text-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.jumbotron__text-desc {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

/* FOOTER */
.footer__container {
  background-color: black;
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__container a {
  color: #ffffff;
}

.footer__container a:hover {
  text-decoration: underline;
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
}

.footer__desc {
  width: 50%;
}

/* TABLET */
@media (max-width: 1024px) {
  .jumbotron {
    min-height: fit-content;
    padding: 80px;
  }

  .project {
    min-height: fit-content;
    width: 100%;
    padding: 80px;
  }
}

/* PHONE */
@media (max-width: 600px) {
  .jumbotron {
    min-height: fit-content;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .project {
    min-height: fit-content;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }

  .jumbotron__text-name {
    font-size: 28px;
  }

  .jumbotron__text-jobtitle {
    font-size: 16px;
  }

  .jumbotron__text-title {
    margin-top: 32px;
    font-size: 24px;
  }

  .jumbotron__text-desc {
    font-size: 16px;
  }

  .box__project {
    flex-direction: column;
    padding: 16px;
    width: auto;
  }

  .project__list {
    margin-left: 0px;
  }

  .project__content-left {
    width: 100%;
  }

  .project__content-right {
    width: 100%;
  }

  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__desc {
    width: 100%;
  }
}

/* 

.card {
  height: 300px;
  width: 300px;
  border-radius: 4px;

  display: grid;
  place-items: center;
  grid-template-areas: main;

  overflow: hidden;
  cursor: pointer;
  text-decoration: none !important;
}

.card > * {
  grid-area: main;
}

.card > .image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  transition: transform 400ms, filter 400ms;
}

card > .text {
  opacity: 0;
  color: white;
  font-size: 1.8em;

  transition: opacity 400ms, transform 400ms;
}

.card:is(:hover, :focus) > .image {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.card:is(:hover, :focus) > .text {
  transform: scale(1.2);
  opacity: 1;
}

 */
